html(lang="ru")
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet" href="css/style.min.css")
    body
        form(method="POST" id="sendform" enctype="multipart/form-data")
            input(type="text" name="info")
            input(name="file[]" value="1" size="40" type="file" multiple)
            input(class="button" value="ОТПРАВИТЬ" name="sendMail" type="submit")
        script(src="js/main.min.js")